<article class="blog_item">
    <div class="blog_item_img">
        <img class="card-img rounded-0" src="{{ tournaments.image.url }}" alt="">
        <a href="#" class="text-center blog_item_date">
            <h3>{{ tournaments.tournament.end_time|date:"j" }}</h3>
            <p>{{ tournaments.tournament.end_time|date:"F" }}</p>
        </a>
    </div>
    <div class="blog_details">
        <a class="d-inline-block" href="blog-details.html">
            <h2>{{ tournaments.tournament.short_name }}</h2>
        </a>
        <p>{{ tournaments.tournament.description }}</p>
        <ul class="blog-info-link">
            {% if tournaments.tournament.provisions_dk %}
                <li><a href="{{ tournaments.tournament.provisions_dk }}" target="_blank"><i class="fa fa-book"></i> Положения с допинг-контролем</a></li>
            {% else %}
                <li><a href="#"><i class="fa fa-warning"></i> Положения с ДК появятся позже</a></li>
            {% endif %}
            {% if tournaments.tournament.provisions_bezdk %}
                <li><a href="{{ tournaments.tournament.provisions_bezdk }}" target="_blank"><i class="fa fa-book"></i> Положения без допинг-контроля</a></li>
            {% else %}
                <li><a href="#"><i class="fa fa-warning"></i> Положения без ДК появятся позже</a></li>
            {% endif %}
            {% if tournaments.tournament.results %}
                <li><a href="{{ tournaments.tournament.results }}" target="_blank"><i class="fa fa-book"></i> Итоги турнира</a></li>
            {% else %}
                <li><a href="#"><i class="fa fa-warning"></i> Итоги появятся позже</a></li>
            {% endif %}
            {% if tournaments.tournament.nomnations %}
                <li><a href="{{ tournaments.tournament.nominations }}" target="_blank"><i class="fa fa-book"></i> Номинации</a></li>
            {% else %}
                <li><a href="#"><i class="fa fa-warning"></i> Номинации появятся позже</a></li>
            {% endif %}
            {% if tournaments.tournament.regulations %}
                <li><a href="{{ tournaments.tournament.regulations }}" target="_blank"><i class="fa fa-book"></i> Регламент турнира</a></li>
            {% else %}
                <li><a href="#"><i class="fa fa-warning"></i> Регламент появятся позже</a></li>
            {% endif %}
        </ul>
    </div>
</article>