{% load static %}

<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <aside class="single_sidebar_widget popular_post_widget">
                    <hr>
                    <h3 class="widget_title">Партнеры:</h3>
                    <br>
                    <div class="media post_item">
                        <img src="../../static/img/arigato8080.png" alt="post">
                        <div class="media-body">
                            <a href="http://arigato46.ru/" target="_blank"><h3>Аригато</h3></a>
                            <p>Пицца и роллы в Курске с доставкой - кафе "Аригато"</p>
                        </div>
                    </div>
                    <div class="media post_item">
                        <img src="../../static/img/strong_genetic8080.png" alt="post">
                        <div class="media-body">
                            <a href="https://vk.com/strong.genetic" target="_blank"><h3>STRONG GENETIC</h3></a>
                            <p>Атлетический клуб "STRONG GENETIC" - это профессионально оборудованный зал, открытый под эгидой федерации GFP, направленный на полноценную подготовку спортсменов к соревнованиям по пауэрлифтингу, его отдельным движениям, жиму лежа, народному жиму, становой тяге, силовому двоеборью и армлифтигу!</p>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <aside class="single_sidebar_widget popular_post_widget">
                    <hr>
                    <h3 class="widget_title">Контакты GFP:</h3>
                    <div class="media post_item">
                        <div class="media-body">
                            <p>Адрес: 305038 Мыльникова, 2, Курск, Россия<br>
                            Телефон: 58-91-33<br>
                            Email: info@gfp-russia.ru
                            </p>
                        </div>
                    </div>
                    <hr>
                    <h3 class="widget_title">Биохимическая лаборатория:</h3>
                    <div class="media post_item">
                        <div class="media-body">
                            <p>ГБУЗ "НИИ Скорой помощи им. Склифосовского департамента здравоохранения г. Москвы"<br>
                            Тюрин Игорь Александрович (заведующий химико-токсикологической лаборатории)<br>
                            Адрес: 129090 Б. Сухаревская пл., 3 (корп. 7), Москва, Россия<br>
                            Телефоны: +7(495)6201166, +7(495)7292919, +7(905)7296799<br>
                            Email: gcms@mail.ru
                            </p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-text text-center">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | Разработано <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="http://echorise.ru/" target="_blank">echorise</a>
                </p>
            </div>
        </div>
    </div>
</footer>