{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home_banner_area banner-area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner_content d-flex flex-md-row flex-column">
                        <div class="banner-left text-md-right">
                            <h1 class="text-uppercase">Ваша заявка принята!</h1>
                        </div>
                        <div class="banner-right position-relative">
                            <p>Мы отправили Вам на почту письмо, в котором вложены детали заявки. Спасибо за проявленный интерес! С наилучшими пожеланиями, GFP</p>
                            <span class="main_btn mt-4 mt-md-0" href="#">
                                <a href="{% url 'home' %}" class="text-white">Домашняя</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}